<div class="text-center">
    <h1 class="display-4">Diego Sanhueza  </h1>
    <h2>Soy un Desarrollador full stack especializado en tecnologias .NET y Javascript</h2>

    <img id="foto" src="~/imagenes/diego.jfif" alt="Foto de Diego" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet-logo" />
</div>

<div class="row justify-content-center text-center  bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>

        <p>
            Soy un desarrollador de Software actualmente trabajando con C# Y .NET. Mis conocimientos varían en tecnologías tanto de front-end como back-end. Me esfuerzo por mantenerme actualizado con las últimas tendencias y tecnologías en el campo de la informática.
        </p>
    </div>

</div>